In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
boss_data = pd.read_csv('../DataSet/boss.csv', header=None, names=['company', 'position', 'address', 'salary', 'requires', 'lables', 'tags'])

In [6]:
boss_data.head()

,company,position,address,salary,requires,lables,tags
0,安存科技,数据分析师,长沙,9-14K,1-3年本科,计算机软件,"数据挖掘,大数据,工业数据,模型产品,特征工程"
1,名利天下,数据分析师,长沙,2-3K,经验不限学历不限,移动互联网,"数据挖掘,数据分析师,店铺运营管理,战略目标,策划"
2,长沙沃邦,数据分析师,长沙,5-10K,经验不限大专,企业服务,"SPSS,VBA,建模,数据分析师,统计学"
3,谊品,数据分析师,长沙,3-8K,3-5年大专,其他服务业,"Python,SQL,数据分析师,数据分析管理,"
4,众美健康,数据分析师,长沙,10-15K,经验不限本科,计算机软件,"大数据,数据挖掘,数据仓库,商业数据分析,数据分析师"

In [7]:
boss_data.shape

(2537, 7)

In [9]:
boss_data.duplicated().sum()

11

In [10]:
boss_data.drop_duplicates(keep='last', inplace=True)

In [22]:
# 去掉“实习”岗位
boss_data.drop(index=boss_data[boss_data['position'].str.contains('实习')].index, inplace=True)

In [25]:
boss_data['address'].unique()

array(['长沙', '成都', '郑州', '重庆', '南京', '武汉', '厦门', '杭州', '北京', '广州', '上海',
       '深圳', '苏州', '天津', '西安'], dtype=object)

In [26]:
boss_data['salary'].unique()

array(['9-14K', '2-3K', '5-10K', '3-8K', '10-15K', '8-13K', '5-6K',
       '10-15K·15薪', '8-10K·14薪', '7-9K', '10-15K·13薪', '5-9K', '5-8K',
       '6-10K', '8-12K', '5-7K', '15-20K', '4-7K', '30-50K·14薪', '4-6K',
       '3-7K', '10-15K·14薪', '7-8K', '4-5K', '11-18K', '12-17K·15薪',
       '11-12K', '7-12K', '20-25K', '7-12K·13薪', '8-13K·13薪',
       '15-25K·16薪', '4-9K', '8-10K', '4-8K', '3-6K', '12-20K', '10-11K',
       '12-24K', '3-4K', '6-7K', '6-8K', '8-12K·13薪', '6-10K·13薪',
       '8-11K', '12-15K·13薪', '3-5K·14薪', '6-11K', '8-15K', '10-11K·16薪',
       '15-30K·16薪', '2-7K', '15-20K·13薪', '15-30K', '10-13K·13薪',
       '18-35K', '12-16K·13薪', '3-5K', '12-18K·14薪', '11-22K', '14-20K',
       '8-12K·15薪', '10-12K·15薪', '12-24K·13薪', '8-13K·15薪', '12-18K',
       '15-25K', '20-30K·13薪', '7-10K', '11-20K·14薪', '18-35K·13薪',
       '20-40K', '11-16K·13薪', '12-14K', '11-14K·13薪', '4-8K·13薪', '6-9K',
       '25-35K·15薪', '15-28K·13薪', '11-20K', '8-12K·14薪', '20-30K·16薪',
       '5-10K·13薪', '7-14K', '10-20K', '10-13K', '12-15K', '7-11K',
       '6-9K·13薪', '12-17K', '4-6K·15薪', '15-20K·14薪', '11-13K·13薪',
       '8-16K', '9-14K·13薪', '10-11K·14薪', '15-16K', '20-40K·18薪',
       '9-13K·13薪', '11-18K·14薪', '8-13K·14薪', '15-25K·13薪', '22-40K',
       '20-40K·15薪', '26-50K', '15-30K·14薪', '13-26K', '20-35K', '25-50K',
       '11-18K·13薪', '20-35K·14薪', '8-10K·13薪', '9-10K', '4-6K·13薪',
       '20-40K·14薪', '2-4K', '1-4K', '6-8K·13薪', '7-9K·14薪', '11-20K·13薪',
       '7-10K·14薪', '5-8K·13薪', '4-7K·13薪', '7-11K·13薪', '14-25K·14薪',
       '20-30K', '20-25K·19薪', '30-60K', '15-30K·13薪', '12-22K', '13-18K',
       '15-28K', '17-28K·15薪', '13-25K', '17-34K', '30-45K', '15-25K·14薪',
       '25-35K', '4-9K·14薪', '20-40K·16薪', '11-22K·14薪', '5-10K·14薪',
       '12-20K·13薪', '18-28K', '30-50K·13薪', '14-25K', '18-25K·14薪',
       '6-8K·14薪', '5-9K·13薪', '6-9K·14薪', '15-30K·15薪', '19-35K',
       '7-10K·13薪', '13-20K·13薪', '40-70K', '9-14K·14薪', '9-13K',
       '12-24K·14薪', '15-18K·13薪', '35-70K', '8-9K', '11-22K·13薪',
       '30-40K', '17-30K', '11-17K', '18-35K·14薪', '4-6K·14薪', '7-8K·13薪',
       '18-30K·14薪', '4-5K·14薪', '10-12K', '6-11K·14薪', '6-12K',
       '4-5K·13薪', '7-12K·14薪', '1-5K', '18-19K', '13-20K', '5-8K·15薪',
       '6-10K·14薪', '12-13K·15薪', '11-18K·15薪', '9-12K', '11-16K',
       '15-22K·13薪', '18-30K·13薪', '13-25K·13薪', '25-40K', '5-10K·15薪',
       '13-20K·15薪', '5-6K·13薪', '12-18K·13薪', '10-20K·18薪', '2-6K',
       '12-20K·14薪', '15-22K', '15-16K·13薪', '30-60K·16薪', '30-50K·15薪',
       '13-21K·13薪', '20-24K', '17-28K', '25-45K·15薪', '17-25K',
       '25-50K·16薪', '20-21K·16薪', '17-25K·13薪', '15-25K·15薪',
       '16-25K·14薪', '30-45K·16薪', '20-35K·15薪', '20-30K·15薪',
       '20-27K·15薪', '50-80K·16薪', '22-27K', '28-50K·13薪', '18-30K',
       '16-30K·14薪', '25-45K', '20-30K·14薪', '15-30K·17薪', '13-25K·14薪',
       '18-27K', '20-40K·13薪', '18-36K', '20-35K·16薪', '25-35K·13薪',
       '25-30K·15薪', '25-30K', '28-40K·14薪', '25-45K·16薪', '25-50K·14薪',
       '15-25K·17薪', '25-40K·16薪', '35-40K', '10-15K·16薪', '6-10K·15薪',
       '20-35K·13薪', '19-32K·16薪', '30-50K·16薪', '25-30K·14薪',
       '7-11K·15薪', '40-70K·16薪', '25-40K·15薪', '30-55K·18薪',
       '25-35K·14薪', '18-25K', '16-30K', '12-18K·15薪', '30-50K',
       '30-50K·18薪', '30-35K·16薪', '25-45K·14薪', '12-20K·17薪',
       '12-20K·15薪', '14-28K', '30-55K', '60-90K', '25-40K·13薪', '65-95K',
       '25-50K·13薪', '16-30K·16薪', '24-38K', '45-60K', '26-35K',
       '18-35K·16薪', '30-45K·15薪', '25-50K·15薪', '25-45K·13薪',
       '30-55K·13薪', '50-80K·14薪', '40-55K·13薪', '19-30K·14薪', '22-30K',
       '35-55K·14薪', '21-40K·15薪', '17-25K·15薪', '15-26K', '35-60K·14薪',
       '18-35K·15薪', '30-40K·16薪', '30-60K·15薪', '30-55K·16薪',
       '28-40K·16薪', '90-120K·14薪', '35-55K·16薪', '20-25K·15薪',
       '20-40K·24薪', '40-50K·15薪', '25-35K·16薪', '25-40K·14薪',
       '35-65K·16薪', '30-45K·14薪', '40-65K·14薪', '28-45K·14薪',
       '30-60K·14薪', '22-40K·14薪', '28-45K·16薪', '18-25K·16薪',
       '9-14K·16薪', '15-23K', '60-90K·16薪', '12-24K·16薪', '15-23K·13薪',
       '12-20K·16薪', '13-18K·15薪', '11-20K·15薪', '9-12K·15薪',
       '10-13K·14薪', '18-28K·16薪', '23-24K', '25-50K·18薪', '35-50K',
       '18-28K·13薪', '15-17K', '8-11K·13薪', '15-18K', '12-17K·14薪',
       '16-23K', '30-35K', '13-23K', '14-28K·13薪', '40-60K', '16-22K·13薪',
       '14-20K·13薪', '15-26K·13薪', '30-35K·15薪', '18-30K·15薪',
       '12-22K·22薪', '18-25K·15薪', '28-35K·13薪', '40-60K·14薪',
       '18-25K·13薪', '20-21K·14薪', '12-23K·13薪', '40-70K·14薪',
       '25-50K·17薪', '25-30K·13薪', '15-23K·14薪', '18-26K', '16-25K·13薪',
       '7-10K·16薪', '12-18K·16薪', '13-18K·14薪', '15-20K·15薪', '7-9K·13薪',
       '30-40K·14薪', '28-40K·15薪', '40-60K·15薪', '14-28K·14薪',
       '15-30K·18薪', '16-25K', '12-16K·15薪', '30-55K·15薪', '12-20K·18薪',
       '8-9K·13薪', '12-19K·13薪', '15-24K·15薪', '20-21K', '17-18K',
       '50-80K', '13-26K·16薪', '16-30K·15薪', '11-22K·18薪', '30-60K·13薪',
       '35-50K·15薪', '35-50K·16薪', '18-22K', '28-45K', '23-45K·16薪',
       '13-16K', '16-21K·14薪', '11-16K·14薪', '6-11K·13薪', '6-7K·13薪',
       '5-7K·13薪', '2-5K', '11-15K', '9-15K', '8-14K', '5-8K·14薪',
       '3-5K·13薪', '6-8K·15薪', '6-9K·15薪', '6-11K·15薪'], dtype=object)